.container{
	width:450px;
	height:450px;
	border: 1px dashed green;
	background-color: #EDEDED;
	position:absolute;
	top:10px;
	left:10px;
}

.ball{
	position: absolute;
	width:33px;
	height:33px;
	/*background-image: url('balls.png');*/
	padding:0px;
	opacity:1;
	color:black;
	border: 1px solid blue;
}

.active{
	color:red;
}