.container{
	width:450px;
	height:450px;
	background-image:url('Images/imgs.png');
	background-repeat:no-repeat;
	background-position: 0px -40px;
	position:relative;
	top:10px;
	left:10px;
}

.restartBtn{
	margin-top:30px;
}

.ball, .nextBall{
	position: absolute;
	width:35px;
	height:35px;
	background-image:url('Images/imgs.png');
	background-repeat:no-repeat;
	padding:0px;
	opacity:1;
}

.nextBall{
	display:inline-block;
	margin-top:5px;
}

.ballcolor-1 {
	background-position: 0px 0px;
}

.ballcolor-2 {
	background-position: -40px 0px;
}

.ballcolor-3{
	background-position: -80px 0px;
}

.ballcolor-4{
	background-position: -120px 0px;
}

.ballcolor-5{
	background-position: -160px 0px;
}

.ballcolor-6{
	background-position: -200px 0px;
}

.ballcolor-7{
	background-position: -240px 0px;
}

.active{
	animation: jump 1s infinite;
}

.forRemoval{
	
}

@keyframes jump{
	50% {
		margin-top:-10px;
		animation-timing-function: ease-out;
	}
	100%{
		margin-top:0px;
		animation-timing-function: ease-in;
	}
}

.services{
	margin-left:10px;
	width:450px;
	height:40px;
}

.restartBtn{
	position:relative;
	top:-10px;
}

.scores{
	border:1px solid black;
	width:60px;
	background-color: #000000;
	color: green;
	font-style:bold;
	font-size:16px;
	float:right;
	margin-top:30px;
}

.nextColors{
	display:inline-block;
	margin-left:60px;
	border: 1px solid black;
	width: 150px;
	height: 40px;
	margin-top: 20px;
	
	background-color:#EDEDED;
}